.header {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  z-index: 1;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b6b6b633;
}