.welcome {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;

  border: 1px solid #ccc;
  position: relative;
}


.divOne {
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: column;
  // align-items: flex-end;
  // justify-content: end;
  width: 50%;
  padding: 5%;

  h3 {
    padding: 20px 0;
  }

  p {
    padding: 10px 0;
  }
}

.divTwo {
  display: flex;
  padding: 5%;
  width: 50%;



  img {
    width: 60%;
    min-width: 325px;
    margin: 0px auto;
  }
}

button {
  margin: 20px 0;
}

.fresh {
  padding: 5%;

  h3 {
    padding: 20px 0;
  }
}